@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&family=Karla:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $karla;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: $DMSerif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button,
.button {
  border: none;
}
